# Ignorar diretórios de build do CMake/CLion
cmake-build-debug/
cmake-build-release/ # Se você tiver um build de release

# Ignorar executáveis e outros arquivos binários
*.exe
*.dll
*.obj
*.o

# Ignorar arquivos de cache do CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
.cmake/
build.ninja
Testing/

# Ignorar arquivos temporários do CLion ou outros IDEs
/.idea/ # Pasta de configuração do CLion
*.iml
*.iws

# Outros arquivos temporários
*.log
*.tmp
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/.gitignore
/.idea/editor.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
